body, html {
    height: 99%;
    background-color: white;
    scroll-behavior: smooth;
}

#box {
    border-style: solid;
    border-color: black;
    border-left: none;
    border-width: 2px;
    margin-left: -8px;
    height: 100%;
}

.nav-link {
    display: block;
    text-decoration: none;
    background-color: #0066cc;
    color: black;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
}

.nav-link:hover{
    background-color: #0033cc;
    padding: 12px;
    margin: 7px;
}

#nav {
    width: 10%;
}