body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    scroll-behavior: smooth;
    overflow: hidden;
}


#box {
    background-color: white;
    position: fixed;
    border-style: solid;
    border-color: black;
    border-left: none;
    border-bottom: none;
    border-width: 2px;
    margin-left: -8px;
    height: 98%;
    width: 99%;
}

#name {
    display: block;
    font-size: 40px;
}

#text {
    display: block;
    font-size: 20px;
}

.nav-link {
    display: block;
    text-decoration: none;
    background-color: #2E86C1;
    color: black;
    font-weight: bold;
    font-size: 22px;
    padding: 10px;
    margin: 5px;
}

.nav-link:hover{
    background-color: #2471A3;
    padding: 12px;
}

#nav {
    width: 10%;
}

#stuff-text {
    position: absolute;
    word-wrap:break-word;
    width: 20%;
    height: 10%;
    margin-right: 2%;
    right: 0;
}

#about-title {
    display: block;
    font-weight: bold;
    font-size: 25px;
}

#about {
    display: block;
    font-size: 20px;
}

#project-title {
    display: block;
    font-weight: bold;
    font-size: 25px;
}

.project-link {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 23px;
    margin: 10px;
}